<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Sample App</title>
</head>
<body>

<div class="container">
  <h1>Server for diet_workshop</h1>
</div>

</body>
</html>