<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Node Sample App</title>
</head>
<body>
<script src="//cdn.livechatinc.com/accounts/accounts-sdk.min.js"></script>

<script>
      var instance = AccountsSDK.init({
        client_id: 'bdfd076412013304dc440c73da44a6aa',
        onIdentityFetched: (error, data) => {
          if (data) {
            console.log('User authorized!');
            console.log('License number: ' + data.license);
          }
        }
      });
    </script>

<style>
  .tmp {
    min-height: 50px;
    min-width: 50px;
    border: 1px red solid;
  }
</style>
<div class="tmp">
  <h1>Server for livechat example</h1>
</div>

 <div>
  <div class="livechat-login-button"></div>
 </div> 
</body>
</html>